# backup this directory somewhere private
/.config
# test files
/tests/test_project
/target
# reference projects
/sample_project
/pest
/dprint*
# test repos
/examples/*/
/release/
# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
